body{
  background-color: #2c80ad;
}

.city-container{
  margin-top: 5px;
  text-align: center;
}

.city-text{
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
}
.temp-container{
  margin-top: 15vh;
  text-align: center;
}

.temp-text{
  font-size: 6em;
  font-weight: bold;
  color: #ffffff;
}

.weather-container{
  margin-top: -20px;
  text-align: center;
}

.weather-text{
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}

.forecast-container{
  margin-top: 15vh;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.forecast-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 10px;

  background-color: #e2e2e2;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 20px;
}

.forecast-icon{
  width: 50px;
  height: 50px;
}

.forecast-info{
  font-size: 1em;
  font-weight: bold;
  color: #000000;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.forecast-weather{
  font-size: 1em;
  font-weight: bold;
  color: #000000;

  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast-temp{
  font-size: 1em;
  font-weight: bold;
  color: #000000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.current-container{
  background-color: #e2e2e2;

  display: flex;
  flex-wrap: wrap;

  margin: 20px;

  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.temp-feel-like{
  width: 50%;
  padding: 10px;
}

.temp-feel-like-text{
  font-size: 0.8em;
  color: #131313;
}

.temp-feel-like-value{
  font-size: 1em;
  font-weight: bold;
  color: #000000;
}

.humidity{
  width: 50%;
  padding: 10px;
}

.humidity-text{
  font-size: 0.8em;
  color: #131313;
}

.humidity-value{
  font-size: 1em;
  font-weight: bold;
  color: #000000;
}

.chance-of-rain{
  width: 50%;
  padding: 10px;
}

.chance-of-rain-text{
  font-size: 0.8em;
  color: #131313;
}

.chance-of-rain-value{
  font-size: 1em;
  font-weight: bold;
  color: #131313;
}

.pressure{
  width: 50%;
  padding: 10px;
}

.pressure-text{
  font-size: 0.8em;
  color: #131313;
}

.pressure-value{
  font-size: 1em;
  font-weight: bold;
  color: #000000;
}

.wind-speed{
  width: 50%;
  padding: 10px;
}

.wind-speed-text{
  font-size: 0.8em;
  color: #131313;
}

.wind-speed-value{
  font-size: 1em;
  font-weight: bold;
  color: #000000;
}

.wind-direction{
  width: 50%;
  padding: 10px;
}

.wind-direction-text{
  font-size: 0.8em;
  color: #131313;
}

.wind-direction-value{
  font-size: 1em;
  font-weight: bold;
  color: #000000;
}

.spinner-border{
  text-align: center;
}

.daily-forecast-container{
  margin: 10px;

  overflow: auto;
  white-space: nowrap;
}

.daily-forecast-item{
  display: inline-block;
  align-items: center;

  margin: 10px;
  padding: 10px;

  background-color: #e2e2e2;
  border-radius: 20px;
}
